
<div class="story-frame" style="background-image: url(images/button-or-lever.jpg);">
  <div class="comment-container" style="top:50px; left:80px;">
    <p>Pull lever <a href="pull-lever">Go</a></p>
    <p>Push button <a href="push-button">Go</a></p>
  </div>
</div>
