
<div class="story-frame" style="background-image: url(images/blank.jpg);">
  <h2>Congratulations</h2>
  <a href="http://twitter.com/home?status=I survived http://attack-of-the-polymorphs.2016.rubyrampage.com">Tweet this</a>
</div>
