<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="continue">
    <p><a href="first-encounter-2">Continue</a></p>
  </div>

  <div class="comment-container" style="top:50px; left:270px;">
    <p>I am Jugswack. What are you?</p>
  </div>
</div>
