<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="comment-container" style="top:50px; left:270px;">
    <p>I am Jugswack. What are you?</p>
  </div>

  <div class="comment-container" style="top:150px; left:80px;">
    <form>
      <p>I am <input type="text" name="name" size="10">
      <input type="submit" value="Say"></p>
    </form>
  </div>
</div>
