
<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="comment-container" style="top:100px; left:80px;">
    <p>What is a polymorph? <a href="first-encounter-3">Say</p>
  </div>
</div>
