
<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="comment-container" style="top:50px; left:80px;">
    <p>A sheep? <a href="sheep-transformation">Say</a></p>
    <p>A newt? <a href="newt-transformation">Say</a></p>
  </div>
</div>
