

<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="continue">
    <p><a href="first-encounter-2">Continue</a></p>
  </div>

  <div class="comment-container" style="top:150px; left:80px;">
    <form class="js-chat">
      <p>I am <input class="js-input" type="text" name="name" size="10">
      <input class="js-submit" type="submit" value="Say"></p>
    </form>
  </div>
</div>
