<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">

  <div class="comment-container" style="top:20px; left:420px;">
    <p>We are the polymorphs. Here to take your world.</p>
  </div>

  <div class="footer-nav">
    <p><a href="first-encounter-2">Continue</a></p>
  </div>
</div>
