
<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="comment-container" style="top:150px; left:80px;">
    <p>Would you like a glass of water? <a href="they-left">Say</p>
  </div>
</div>
