
<div class="story-frame" style="background-image: url(images/first-encounter.jpg);">
  <div class="comment-container" style="top:150px; left:80px;">
    <p>I am a human <a href="first-encounter-3">Say</p>
  </div>
</div>
