
<div class="story-frame" style="background-image: url(images/mass-destruction.jpg);">
  <div class="comment-container" style="top:50px; left:80px;">
    <p>Uh oh. Push the button; mass destruction.</p>
  </div>
</div>
