
<div class="story-frame" style="background-image: url(images/pull-lever.jpg);">
  <div class="comment-container" style="min-width: 150px; left: 150px; top: 50px;">
    <p>Pull the lever; happy forever.</p>
    <p><a href="http://twitter.com/home?status=Pull the lever, happy forever. I survived http://attack-of-the-polymorphs.2016.rubyrampage.com">Tweet this</a></p>
  </div>
  <div class="footer-nav">
    <p>
      <a href="play-again">Play again</a>
    </p>
  </div>
</div>
