
<div class="story-frame" style="background-image: url(images/push-button.jpg);">
  <div class="comment-container" style="top:50px; left:80px;">
    <p>Uh oh. Push the button; mass destruction.</p>
    <p><a href="http://twitter.com/home?status=Push the button, mass destruction. I blew up the world in http://attack-of-the-polymorphs.2016.rubyrampage.com">Tweet this</a></p>
  </div>

  <div class="footer-nav">
    <p>
      <a href="play-again">Play again</a>
    </p>
  </div>
</div>
