<div class="story-frame" style="background-image: url(images/talking-sheep.jpg);">

  <div class="comment-container" style="min-width: 150px; left: 150px; top: 100px;">
    <p class="first-option">What? <a href="">Say</a></p>
    <p>Run away <a href="/run-away">Go</a></p>
  </div>
</div>
