<div class="story-frame" style="background-image: url(images/sheep-death.jpg);">

  <div class="comment-container" style="min-width: 150px; left: 150px; top: 100px;">
    <p>Oops.</p>
    <p>
      <a href="http://twitter.com/home?status=I was eaten by sheep in http://attack-of-the-polymorphs.2016.rubyrampage.com">Tweet this</a>
    </p>
  </div>

  <div class="footer-nav"><a href="play-again">Play again</a></div>
</div>
