<div class="story-frame" style="background-image: url(images/talking-sheep.jpg);">
  <p style="left:500px; top:250px;">Quack</p>
  <p style="left:200px; top:100px;">What? <a href="">Say</a></p>
  <p style="left:200px; top:200px;">Run away <a href="/run-away">Go</a></p>
</div>
