
<div class="story-frame" style="background-image: url(images/they-left.jpg);">
  <div class="comment-container" style="min-width: 150px; left: 150px; top: 50px;">
    <p>Pull the lever;<br>happy forever.</p>
    <p><a href="http://twitter.com/home?status=Pull the lever, happy forever. I survived http://attack-of-the-polymorphs.2016.rubyrampage.com">Tweet this</a></p>
  </div>
  <div class="footer-nav">
    <p>
      <a href="play-again">Play again</a>
    </p>
    <p class="credit">
      Meticulously coded and illustrated by <a href="https://twitter.com/elliotthilaire?lang=en">Elliott</a> &amp;
      <a href="https://twitter.com/amyhilaire?lang=en">Amy</a> Hilaire for
      <a href="https://www.rubyrampage.com/">Ruby Rampage 2016</a>.
    </p>
  </div>
</div>
