
<div class="story-frame" style="background-image: url(images/to-kick-or-not-to-kick.jpg);">
  <p style="left: 400px;">Kick sheep <a href="run-away">Go</a></p>
  <p class="second-comment">Ignore sheep <a href="talking-sheep">Go</a></p>
</div>
