
<div class="story-frame" style="background-image: url(images/to-kick-or-not-to-kick.jpg);">
  <div class="footer-nav">
    <p>
      <ul>
        <li>Ignore sheep <a href="ignore-sheep">Go</a></li>
        <li>Kick sheep <a href="kick-sheep">Go</a></li>
      </ul>
    </p>
    <p class="credit">
      Coded and meticulously illustrated by <a href="https://twitter.com/elliotthilaire?lang=en">Elliott</a> &amp;
      <a href="https://twitter.com/amyhilaire?lang=en">Amy</a> Hilaire for
      <a href="https://www.rubyrampage.com/">Ruby Rampage 2016</a>.
    </p>
  </div>
</div>
