
<div class="story-frame" style="background-image: url(images/to-kick-or-not-to-kick.jpg);">
  <div class="footer-nav">
    <p>Ignore sheep <a href="talking-sheep-1">Go</a></p>
    <p>Kick sheep <a href="run-away">Go</a></p>
  </div>
</div>
