
<div class="story-frame" style="background-image: url(images/to-kick-or-not-to-kick.jpg);">
  <div class="footer-nav">
    <p>
      <ul>
        <li>Ignore sheep <a href="ignore-sheep">Go</a></li>
        <li>Kick sheep <a href="run-away">Go</a></li>
      </ul>
    </p>
  </div>
</div>
