
<div class="story-frame" style="background-image: url(images/to-kick-or-not-to-kick.jpg);">
  <div class="comment-container" style="min-width: 150px; left: 150px; top: 100px;">
    <p class="first-option">Ignore sheep <a href="talking-sheep">Go</a></p>
    <p>Kick sheep <a href="run-away">Go</a></p>
  </div>
</div>
