
<div class="story-frame" style="background-image: url(images/blank.jpg);">
  <div class="comment-container" style="top:200px; left:300px;">
    <p>Nope</p>
  </div>

  <div class="footer-nav">
    <p>
      <a href="play-again">Play again</a>
    </p>
    <p class="death-toll">
      Your deaths so far: <%=session[:deaths]%>
    </p>
  </div>
</div>
