
<div class="story-frame" style="background-image: url(/images/404.jpg);">
  <div class="comment-container" style="top:220px; left:250px;">
    <p>404 pony</p>
  </div>


  <div class="footer-nav" style="left:200px; top:-50px">
    <p><a href="/">Continue</a></p>
    <p class="death-toll">
      Your deaths so far: <%=session[:deaths]%>
    </p>
  </div>
</div>
