<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attach of the Polymorphs</title>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/stylesheet.css">
    <script src="/javascript.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
