<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attach of the Polymorphs</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="javascript.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
