
body {
  background-color: #292a2b;
}

.story-frame {
  position: relative;
  height: 600px;
  width:800px;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

p {
  position: absolute;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 10px;
}
