
body {
  background-color: #292a2b;
}

.story-frame {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  position: relative;
  height: 600px;
  width:800px;
  background-color: #edebe3;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
}

.comment-container {
  position: absolute;
  max-width:300px;
}

.footer-nav {
  position: absolute;
  width: 100%;
  margin-top: 420px;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

.credit {
  font-size: 15px;
  padding-top: 70px;
}
